# dummy for Overleaf / output from cweave
utfpatgen.tex

# output from ctangle
utfpatgen.c

# outputs of patgen
pattmp.*
test/output*

# binaries
build

# environments
.vscode
.idea
.venv

# profiling output
*.out
*.png

# outputs of pdftex
*.log
*.aux
*.scn
*.idx
*.toc
